<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <!-- css links -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
  <link rel="stylesheet" href="/css/custom.css">
</head>

<body>

  <div class="container-fluid main-container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="./img/logo.png" alt="LOGO" height="60px" width="60px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto text-left">
            <li class="nav-item active">
              <a class="nav-link" href="#"><i class="fas fa-home"></i>Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/library"><i class="fa fa-book-reader"></i> BookShelf</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#requestModal"><i class="fa fa-book"></i> Request book</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#" data-toggle="modal" data-target="#contactModal"><i class="fa fa-address-book"></i> Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="introduction text-center">
      <img src="./img/logo.png" alt="LOGO" height="100px" width="100px">
      <h1>MY FAVORITE BOOK</h1>
      <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore at ipsum maiores nobis a vel ullam similique,
        aliquid voluptates dolore et quo suscipit fuga ipsam sint! Animi asperiores ipsam quasi.</P>
        <a  class="button" href="/library">Explore</a>
    </div>
    <div class="overlay"></div>
  </div>


 <%- include('partials/requestModal'); %> 
 <%- include('partials/contactModal'); %> 
 <%- include('partials/scripts'); %> 
  
</body>

</html>