<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Requested</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
     <link rel="stylesheet" href="/css/requests.css">
</head>

<body>
    <div class="container-fluid">
        <div class="container requested-books">
            <center><h2>Requested Books</h2></center>
            <ul name="book-details">
                <li name="Person"></li>
                <li name="email"></li>
                <li name="book-name"></li>
                <li name="Author"></li>
            </ul>
            <hr>
        </div>
        <div class="overlay"></div>
    </div>


    <%- include('partials/scripts'); %> 
</body>

</html>